@use "../../../utils/style.variables" as styles;

.new-item {
  margin: 24px auto;
  width: 75%;
  padding: 16px;

  box-shadow: styles.$primaryUpBoxShadow;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;


  input {
    width: 70%;
  }
}