@use '../../utils/style.variables' as styles;

@mixin iconImageUrl {
  &-checkbox-blue {
    background-image: url('../../assets/logo20blue.png');
  }

  &-checkbox-red {
    background-image: url('../../assets/logo20red.png');
  }
}

.container {
  * {
    display: inline-block;
    font-size: 16px;
  }

  input[type='checkbox'] {
    display: none;

    & + label {
      display: flex;
      align-items: center;
      justify-content: center;

      span.empty {
        margin: 0;
      }

      span:first-of-type {
        height: 20px;
        width: 20px;
        margin: 0 10px 0 0; /*layout relationship between check and label*/

        &.empty {
          margin: 0;
        }

        @include styles.paralElement;
        box-shadow: styles.$primaryBoxShadow;

        &:hover {
          box-shadow: styles.$primaryHoverBoxShadow;
          background-color: styles.$primaryLightColor;
          cursor: pointer;
        }

        &.image {
          &:after {
            content: '';
          }

          @include iconImageUrl;
        }
      }
    }

    &:checked {
      & + label {
        span:first-of-type {
          background: styles.$primaryColor;
          padding: 0;

          &:after {
            position: relative;
            top: -2px;
            content: '✔';
            color: styles.$primaryContrastColor;
          }

          &:hover {
            box-shadow: styles.$primaryHoverBoxShadow;
            background-color: styles.$primaryLightColor;
            cursor: pointer;
          }

          &.image {
            &:after {
              content: '';
            }

            @include iconImageUrl;
          }
        }
      }
    }
  }
}
