@use '../../utils/style.variables' as styles;

.paral-input {
  @include styles.paralElement;

  &:hover {
    @include styles.paralElementHover;
    cursor: text;
  }

  &::placeholder {
    color: styles.$primaryContrastColor;
    opacity: 0.9;
  }
}
